@import url('Reset.css');
@import url('Fonts.css');


/*Estilos generales*/
body{

    background:#161616 ;
    font-family: Arial, Helvetica, sans-serif;
}

a{

    text-decoration: none;   

}
a:hover{

    text-decoration: underline;
}

#Wrap{
    
    width: 960px;
    margin: auto;
    clear: both;
}

/*Header*/
header{
 
    width: 100%;
    background: #021720;
    background: linear-gradient(0deg, #021720 0%, #041c32 55%);
    box-shadow: 0px 5px 5px;

}

#Subheader{

    width: 200px;
    margin: auto;
    display:grid;
    align-items: center;
    padding-right: 310px;
}

#Foto p img{

border:5px  solid  #ecb365;
height:auto;
width:auto;
object-fit:contain;
margin-bottom: 20px;


}

#Nombre{

color: aliceblue;
margin-top: 50px;
width: 500px;
text-align: center;
line-height: 2px;

}
#Profesión{
    line-height: 0px;
}

#FraseIntro{
    color: rgb(152, 212, 255);
}

ul {
    list-style-type: none;
    overflow: hidden;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    padding-left: 140px;
}
  
  li {
    display: inline-block;
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    color: rgb(152, 212, 255);
  }

/*-----MAIN----*/

#main{

    width: 100%;
    margin: 20px 0px 0px 0px;
    float: left;
}



/*----Contenido----*/
#Contenido{
    width: 100%;
    float:left;
    margin: auto;
    padding-left: 18px;

}
#Contenido article{
    float: left;
    display:inline-block;
    margin-top: 50px;

}

#Contenido article .Titulo{
    font-size: 1.2em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    padding-right: 10px;
}
.Puesto{
    font-size: 16PX;
    text-align: center;
    padding-right: 10px;
    color: #f0c17e;
    font-family: Arial, Helvetica, sans-serif;
}
#Contenido article .Article_image{
    width: 310px;
    height: 310px;
    float: left;
    position: relative;
    margin: 0px 10px 10px 0px;
    object-fit:fill;
}
#Contenido article .Article_image:hover{
    transform: scale(1.02);
    transition: transform .2s;
    background-color: #021720;
}
#Contenido article > p{
color: #ecb365;
text-align: justify;
line-height: 20px;

}


/* Footer */
footer{

    width: 100%;
    float: left;
    clear: both;
    margin-top: 100px;
}
footer section{
    padding-left: 38%;
}

footer #RRSS >div{
    height: 100px;
    width: 100px;
    display: inline-block;
    align-items: center;
    object-fit: contain;
}
footer #RRSS .Linkedin:hover{
    opacity: 0.7 ;
}
footer #RRSS .Twitter:hover{
 opacity: 0.7 ;
}
footer #RRSS .Itchio:hover{
 opacity: 0.7 ;
}


#Web_Data{

    color:rgb(133, 133, 133) ;
    float:right;
    align-items:center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
   
}

#Visits{
    margin-left: 18px;
}